extends _includes/base


block title
  
  title Fco. J. Godoy | Desarrollador front-end y WordPress

  - var isIndex = true

block content

  main.main.c-page.o-wrapper( class='u-margin-top-large u-margin-top-huge@tablet u-margin-bottom-large u-margin-bottom-huge@tablet' )

    section( class='u-margin-bottom u-margin-bottom-large@tablet' )

      .o-layout.o-layout--flush

        .o-layout__item( class='u-1/1 u-1/2@tablet u-1/3@wide' )

          h1.u-margin-bottom-large Hola

          .u-text-justify
            p
              strong Soy Francisco José Godoy.
              br
              | Desarrollador front-end y WordPress freelance con 8 años de experiencia profesional, fundador de 
              a(href='https://growpress.es') GrowPress.
              br
              | También soy colaborador de código abierto y me gusta realizar código que ayude a las personas con su trabajo y su vida.
              br
              | He trabajado para empresas como Catalana Occidente, SM, la Universidad Pablo de Olavide, el RACC, CaixaBank o Endesa.
              br
              a( href='/#section-projects' ) Aquí abajo
              |  puedes leer sobre algunos últimos proyectos en los que he participado y otros propios.
              br
              | También puedes ver mi 
              a(href='https://www.linkedin.com/in/franciscogodoyonieva/' title='perfil en Linkedin') perfil en Linkedin
              | , echarle un ojo a mis repositorios 
              a(href='https://github.com/fcojgodoy' title='GitHub') en GitHub
              |  o 
              a(href='https://gitlab.com/fcojgodoy' title='GitLab') en GitLab
              | , o pedirme la información que desees en 
              a(href='mailto:hola@franciscogodoy.es' title='hola@franciscogodoy.es') hola@franciscogodoy.es
              | .

            ul.o-list-inline.c-skills

                each val in ['HTML', 'CSS', 'SASS', 'Javascript', 'Vuejs', 'jQuery', 'PHP', 'WordPress', 'Git', 'Gulp', 'BEM', 'Atomic Design', 'SEO on page']
                  li.o-list-inline__item.c-skills__item= val

            p
              | Cada día empleo unas horas en mejorar mis habilidades y aprender lenguajes nuevos.
              br
              | En estos momentos estoy trabajando en 
              a(href='https://dinamicarea.com' title='Ir a la web' target="_blank") Dinamic Area y 
              | mejorando mis conocimientos de PHP y aprendiendo Laravel.
              br
              small [Junio de 2019]
              //- | En estos momentos estoy mejorando mis conocimientos de PHP y aprendiendo Vuejs, SQL y Webpack.
              //- br
              //- small [Septiembre de 2018]

    section#section-projects( class='u-margin-bottom u-margin-bottom-large@tablet' )

      h2.u-margin-bottom-large Servicios

      .o-layout( class='u-1/1 u-1/1@tablet u-2/3@wide' )
        .o-layout__item
          p Estos son algunos de los servicios que ofrezco:
          p
            include _includes/services

    section#section-services

      h2.u-margin-bottom-large Proyectos

      .o-layout.o-layout--stretch

        include _includes/article
