extends _includes/base


block title
  
  title Presupuesto WordPress para empresa

  - var isIndex = false

block content

  main.main.c-page.o-wrapper( class='u-margin-top-large u-margin-top-huge@tablet u-margin-bottom-large u-margin-bottom-huge@tablet' )

    section( class='u-margin-bottom u-margin-bottom-large@tablet' )

      .o-layout

        .o-layout__item( class='u-1/1 u-2/3@tablet u-1/2@desktop' )

          h1 Presupuesto WordPress para empresa
          h2.u-h5 La mejor oferta precio/calidad para una web corporativa para empresas u organizaciones.
          p Todo lo siguiente es lo que incluye el paquete básico que te ofrezco para que tu empresa u organización tenga una presencia destacable en Internet.
            br
            small Si vuestras necesidades son diferentes puedes contactar conmigo y os realizo un presupuesto personalizado sin ningun compromiso.

          include _includes/c-badget-included

        .o-layout__item( class='u-1/3@tablet u-1/3@desktop' style="position: sticky; top: 70px")

          div(class='u-hide u-show@tablet')
            include _includes/sidebar-badget

      div(class='u-hide@tablet')
        include _includes/nav--badget
