extends _includes/base


block title
  
  title RACC - Maquetación de interfaz de usuario


block content

  main.c-page.o-wrapper

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | RACC - Maquetación de interfaz de usuario

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Colaboración con la agencia barcelonesa Twentic para la maquetación de la interfaz de usuario del área privada de la nueva web del Real Automóvil Club de Cataluña.

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'HTML', 'CSS', 'SASS', 'JavaScript', 'jQuery', 'PHP', 'Grunt', 'Git', 'BEM' ]
                li.o-list-inline__item.c-skills__item= val

      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )
          .o-layout__item(class='u-1/1')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet')
              img(src='/assets/files/img/portfolio/racc-min.png' alt='Diseño UX de una página de la interfaz de usuario.')
              figcaption.c-project-image__caption
                | Diseño UX de una página de la interfaz de usuario.

        .o-layout.o-layout--middle( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet')
              img(src='/assets/files/img/portfolio/racc-logo-min.png' alt='Logo de el RACC.')

          .o-layout__item(class='u-1/1 u-1/2@tablet')
            .o-box
              p.u-h4
                | Ante una necesidad de aumentar el ritmo de trabajo en la agencia encargada del rediseño y desarrollo de la interfaz interna de clientes del Real Automóvil Club de Cataluña, fui contactado para unirme al equipo.
                br
                | Una adaptación super rápida al ritmo de trabajo y al proyecto, un desarrollo exhaustivo y una comunicación excelente dieron como resultado una colaboración satisfactoria por ambos lados.

        .o-layout.o-layout--middle( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )
          .o-layout__item(class='u-1/1')
            figure.c-project-blockquote
              blockquote.c-project-blockquote__blockquote
                | Muy fino y muy bien. Me ha gustado cómo has trabajado.
              figcaption.c-project-blockquote__author Paco Lora | Desarrollador en Twentic

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-link.o-list-inline__item
            a.u-margin-small( href="/#section-projects").c-btn.c-btn--primary.c-btn--large Ver otros proyectos
            a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
