extends _includes/base


block title
  
  title Tema para WordPress - Teruterubozu


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | TERUTERUBOZU - Tema para WordPress

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Precioso tema enfocado a la lectura y la fotografía con funciones especiales para las autoras y autores de entradas.

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'HTML', 'CSS', 'JavaScrip', 'PHP', 'WordPress' ]
                li.o-list-inline__item.c-skills__item= val

          .c-project-link.o-list-inline__item
            a.u-margin-small.c-btn.c-btn--primary.c-btn--small( target='_blank' href="https://wordpress.org/themes/teruterubozu/" ) Ver en WordPress.org
            a.u-margin-small( target='_blank' href="https://github.com/fcojgodoy/teruterubozu").c-btn.c-btn--primary.c-btn--small Ver en GitHub
            button.u-margin-small( target='_blank' href="#" disabled ).c-btn.c-btn--primary.c-btn--small Demo en progreso


      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')

            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/teruterubozu-frontpage.jpeg' alt='Pantallazo de la portada del tema')
              figcaption.c-project-image__caption
                | Página inicial de Teruterubozu.


        .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h1.u-text-center
              | Simpleza, estilo y legibilidad


        .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')
        
            figure.c-project-image.has-shadow.u-padding( class='u-padding-large@desktop' )
              img( src='/assets/files/img/portfolio/teruterubozu-authorpage.jpg' alt='Pantallazo de la página de un autor, con información sobre él y un listado de sus entradas.' )
              figcaption.c-project-image__caption
                | Ejemplo de una página de autor, con información sobre él y un listado de sus entradas.


        .o-layout.o-layout--middle.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet u-layout--reverse@tablet' )
        
          .o-layout__item(class='u-1/1 u-1/2@tablet')
          
            .o-box
              p.u-h4.u-text-center
                | Tema preparado para mostrar información sobre las autoras y autores de sus entradas:
              p.u-h3.u-text-center.u-margin-bottom-none
                | Imagen de cabecera personalizada
                br
                | ·
              p.u-h3.u-text-center.u-margin-bottom-none
                | Avatar
                br
                | ·
              p.u-h3.u-text-center.u-margin-bottom-none
                | Resumen biográfico
                br
                | ·
              p.u-h3.u-text-center.u-margin-bottom-none
                | Localización, enlace web y número de entradas
                br
                | ·
              p.u-h3.u-text-center.u-margin-bottom-none
                | Listado de entradas
                br
                | ·
              p.u-h3.u-text-center
                | Enlaces a Facebook, Twitter y Google Plus
                //- br
                //- | Permite también añadir un texto a través de una instancia del editor visual de WordPress.

          .o-layout__item(class='u-1/1 u-1/2@tablet')
        
            figure.c-project-image.has-shadow.u-padding
              img( src='/assets/files/img/portfolio/wpaucf-sample.jpeg' alt='Pantallazo de la información del autor de la entrada' )
              figcaption.c-project-image__caption
                | Ejemplo de la información del autor de la entrada.

        .o-layout

          .o-layout__item(class='u-1/1')

            .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom

              .c-project-link.o-list-inline__item

                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( target='_blank' href="https://wordpress.org/themes/teruterubozu/" ) Ver en WordPress.org

                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( target='_blank' href="https://github.com/fcojgodoy/teruterubozu") Ver en GitHub

                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
