extends _includes/base


block title
  
  title Plugin para WordPress - WP Comment Policy Checkbox


block content

  include _includes/nav

  .c-page.o-wrapper
    article
      section
        h2.c-project-main-text.o-content-small.u-margin-top-huge.u-margin-bottom-huge.u-h3
          | Simpleza y funcionalidad: permite añadir a los comentarios de WordPress una casilla de aceptación de la   política de privacidad, para así poder cumplir con el 
          abbr( title='Reglamento General de Protección de Datos' ) RGPD.
          br
          | Permite también añadir un texto a través de una instancia del editor visual de WordPress.
      section
        .o-layout
          .o-layout__item(class='u-1/1')
            figure.c-project-image.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/Screenshot-2018-5-29-WP-Comment-Policy-Checkbox.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .o-layout.o-layout--middle
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.c-project-image.u-padding(class='u-padding-large@tablet')
              img(src='/assets/files/img/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            .o-box
              p.u-h4
                | Simpleza y funcionalidad: permite añadir a los comentarios de WordPress una casilla de   aceptación de la   política de privacidad, para así poder cumplir con el 
                abbr( title='Reglamento General de Protección de Datos' ) RGPD.
                br
                | Permite también añadir un texto a través de una instancia del editor visual de WordPress.
        .o-layout
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.c-project-image.u-padding(class='u-padding-large@tablet')
              img(src='/assets/files/img/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.c-project-image.u-padding(class='u-padding-large@tablet')
              img(src='/assets/files/img/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .o-layout
          .o-layout__item(class='u-1/2 u-1/2@tablet')
            blockquote( cite='https://wordpress.org/support/topic/mas-simple-no-puede-ser/' ) Francamente bueno, objetivo y práctico, hace que no seamos tan vulnerables a la nueva RGPD frente a los comentarios de los blogs! <br>Un imprescindible si WordPress no se pone las pilas.