extends _includes/base


block title
  
  title Plugin para WordPress - WP Add User Contact Fields


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | WP ADD USER CONTACTO FIELDS - Plugin de WordPress

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Plugin para WordPress con el que los desarrolladores de temas pueden añadir fácilmente más información de contacto sobre los autores de entradas.

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'PHP', 'WordPress' ]
                li.o-list-inline__item.c-skills__item= val

          .c-project-link.o-list-inline__item
            a.u-margin-small( target='_blank' href="https://wordpress.org/plugins/wp-add-user-contact-fields/").c-btn.c-btn--primary.c-btn--small Ver en WordPress.org
            a.u-margin-small( target='_blank' href="https://gitlab.com/fcojgodoy/wp-add-user-contact-fields").c-btn.c-btn--primary.c-btn--small Ver en GitLab


      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')

            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/wpaucf-sample.jpeg' alt='Pantallazo de tema usando el plugin')
              figcaption.c-project-image__caption
                | Ejemplo de tema usando el plugin.


        .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h4.u-text-justify
              | El plugin hace uso del filtro 'user_contactmethods' para añadir toda la información de contacto que el 'core' de WordPress permite y que no realiza por defecto: teléfono, dirección, ciudad... así como enlaces a redes sociales como Facebook, Twitter, Google Plus o Skype.
            p.u-h4.u-text-justify
              | De este modo los desarrolladores de temas no necesitan adentrarse en el 'territorio de los plugin' y, con unas simples líneas de código, pueden ampliar fácilmente las características de sus temas.
            p.u-h3.u-text-justify
              | Y lo mejor: los usuarios de WordPress mantienen la información de contacto introducida al cambiar de tema, al contrario de lo que ocurriría si este código se introdujese directamente en el tema.


        .o-layout.o-layout--middle.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet u-layout--reverse@tablet' )

          .o-layout__item(class='u-1/1')

            .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

              .c-project-link.o-list-inline__item
                a.u-margin-small( target='_blank' href="https://wordpress.org/plugins/wp-add-user-contact-fields/").c-btn.c-btn--primary.c-btn--large Ver en WordPress.org
                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
