extends _includes/base


block title
  
  title Componente Vuejs - Vue Like Dislike Buttons


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | VUE-LIKE-DISLIKE-BUTTONS - Componente VueJs

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Componente realizado en VueJs que permite usar los típicos botones de 'like' y 'dislike' con los iconos de la manita con el dedo hacia arriba y hacia abajo, :)

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'VueJs', 'HTML', 'SASS' ]
                li.o-list-inline__item.c-skills__item= val

          .c-project-link.o-list-inline__item
            a.u-margin-small( target='_blank' href="https://gitlab.com/fcojgodoy/vue-like-dislike-buttons").c-btn.c-btn--primary.c-btn--small Ver en GitLab
            a.u-margin-small( target='_blank' href="https://www.npmjs.com/package/vue-like-dislike-buttons").c-btn.c-btn--primary.c-btn--small Ver en NPM


      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              <iframe src="https://codesandbox.io/embed/vue-like-dislike-buttons-g77x7?autoresize=1&fontsize=14&module=%2Fsrc%2FApp.vue" title="Vue Like Dislike Buttons" allow="geolocation; microphone; camera; midi; vr; accelerometer; gyroscope; payment; ambient-light-sensor; encrypted-media" style="width:100%; height:500px; border:0; border-radius: 4px; overflow:hidden;" sandbox="allow-modals allow-forms allow-popups allow-scripts allow-same-origin"></iframe>
              figcaption.c-project-image__caption
                | El componente en funcionamiento.


        //- .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

        //-   .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
        //-     p.u-h3.u-text-justify
        //-       | 


        .o-layout.o-layout--middle.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet u-layout--reverse@tablet' )

          .o-layout__item(class='u-1/1')

            .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

              .c-project-link.o-list-inline__item
                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( target='_blank' href="https://gitlab.com/fcojgodoy/vue-like-dislike-buttons") Ver en GitLab
                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
