extends _includes/base


block title
  
  title Adan Advocats - Una migración exitosa


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    include _includes/nav

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | ADAN ADVOCATS - De Joomla a WordPress sin perder posicinamiento

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Migración de una web antigua con buen posicinamiento a una web moderna con WordPress. ¡E incluso mejorando en los resultados de Google!

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'HTML', 'CSS', 'SEO', 'WordPress' ]
                li.o-list-inline__item.c-skills__item= val

          .c-project-link.o-list-inline__item
            a.u-margin-small( target='_blank' href="http://www.adanadvocats.com").c-btn.c-btn--primary.c-btn--small Ver en vivo


      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')

            figure.c-project-image.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/adanadvocats-home.png' alt='Pantallazo de la portada de la web del despacho de abogados Adan Advocats.')
              figcaption.c-project-image__caption
                | Portada de la web del despacho de abogados Adan Advocats.


        .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h4.u-text-justify
              | Una web multi-idoma antigua, no ‘responsive’, infectada por virus que la llenan de enlaces raros, pero que, aun así, tiene un gran posicionamiento en Google. Esto es lo que me encontré cuando hablé con AdanAdvocats, un despacho de abogados con sedes en Barcelona y Vic.
              br
              | Debiámos realizar una gran actualización y puesta a punto de la web, además de introducir nuevo contenido y funciones. Y todo ¡sin perder el posicionamiento ganado en Google!
            p.u-h4.u-text-justify
              | Tras un estudio de la situación decidimos actuar por varias vías:
            ul.u-h4.u-text-justify
              li Migrar la web desde Joomla, la actual plataforma, a WordPress calcando todo aquel contenido y características necesarias para, no solo mantener, sino incluso mejorar el posicionamiento en Google.
              li Introducir modificaciones para una atracción mayor hacia los visitantes.
              li Y hacer más fácil el uso de la web por sus propietarios.

          .o-layout__item(class='u-1/1')
            figure.c-project-image.c-project-image.u-padding(class='u-padding-large@desktop')
              img(src='/assets/files/img/portfolio/adanadvocats-seo-work.jpeg' alt='Tabla con las páginas del proyecto y sus características SEO importantes.')
              figcaption.c-project-image__caption
                | Tabla con las páginas del proyecto y sus características SEO importantes.

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h4.u-text-justify
              | Para el primer punto se migró la web página a página, manteniendo todos los valores que Google tiene en cuenta para el posicionamiento: URLs, títulos, descripciones, titulares de página… Mejoré y creé descripciones y títulos para páginas, corregí las imágenes sin descripciones, mejoré la puntuación en PageSpeed Insights…
              br
              | Aunque era recomendable un cambio de servidor, esto no pudo realizarse y nos tuvimos que conformar con el actual, uno con no muy buenas características para la velocidad de carga y el rendimiento de WordPress.
              br
              | Aún así, el resultado no solo fue que no hubo pérdidas de posicionamiento para las palabras claves deseadas por el cliente, sino que, unos meses después su posicionamiento mejoró llegando a ser el primer despacho de los resultados de Google para las búsquedas deseadas.
              br
              | Para el segundo problema realicé un cambio de tema y modificaciones en la página de inicio: rediseño del banner principal, llamadas a la acción para los servicios más interesantes del cliente, bloque con testimonios de clientes del despacho...
            
          .o-layout__item(class='u-1/1')
            figure.c-project-image.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/adaadvocats-cat-blockquotes.jpg' alt='Pantallazo de la llamada a la acción y de las citas de clientes de la web de Adan Advocats.')
              figcaption.c-project-image__caption
              | Llamada a la acción y bloque de citas de clientes en la portada de la web de Adan Advocats.

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h4.u-text-justify
              | Y por último creé un manual de uso de las funciones extras añadidas a la web, que puede ser consultado desde el mismo escritorio de WordPress. A lo que se añade las grandes características de este gestor de contenidos.
            p.u-h4.u-text-justify
              | En definitiva, el despacho de abogados Adan Advocats tiene ahora una web actual que mantiene el posicionamiento conseguido tras 8 años online.

        .o-layout.o-layout--middle.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')

            .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

              .c-project-link.o-list-inline__item
                a.u-margin-small( target='_blank' href="http://www.adanadvocats.com").c-btn.c-btn--primary.c-btn--large Ver online
                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
