extends _includes/base


block title
  
  title Plugin para WordPress - WP Comment Policy Checkbox


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    include _includes/nav

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | INUIT COLUMNS - Plugin de InuitCss

        p.o-content-small.u-margin-bottom
          | Esta página está por crear. Si deseas más información sobre el proyecto o sobre mí, puedes ponerte en contacto:

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-link.o-list-inline__item
            a.u-margin-small( target='_blank' href="https://www.npmjs.com/package/inuit-columns").c-btn.c-btn--primary.c-btn--small Ver en Npm
            a.u-margin-small( target='_blank' href="https://github.com/fcojgodoy/inuit-columns").c-btn.c-btn--primary.c-btn--small Ver en Github
            a.u-margin-small( target='_blank' href="mailto:hola@franciscogodoy.es").c-btn.c-btn--primary.c-btn--small Contactar con Francisco
