extends _includes/base


block title
  
  title Web app para profesionales de la medicina - ICONECTA


block content

  main.c-page.o-wrapper( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

    article

      section

        h1.c-project-title.u-h6.u-margin-top-huge.u-margin-bottom-small.u-text-center
          | ICONECTA - Web app para profesionales de la medicina

        h2.c-project-main-text.o-content-small.u-margin-bottom.u-h3
          | Desarrollo del frontend desde el boceto de la web app iConecta para AstraZeneca: aplicación para la gestión de mailing para los profesionales de la medicina.

        .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

          .c-project-labels.o-list-inline__item
            ul.o-list-inline.u-margin-small
              each val in [ 'HTML', 'CSS', 'SASS', 'JavaScript', 'AngularJS' ]
                li.o-list-inline__item.c-skills__item= val


      section

        .o-layout( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item(class='u-1/1')

            figure.c-project-image.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='/assets/files/img/portfolio/iconecta-port--resp-min.png' alt='Pantallazos de la web app iConecta')
              figcaption.c-project-image__caption
                | iConecta, web app responsive para profesionales de la medicina.


        .o-layout.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet' )

          .o-layout__item( class='u-1/1 u-3/5@desktop u-push-1/5@desktop' )
            p.u-h4.u-text-justify
              | Realización para AztraSeneca a través de Adesis Netlife de la interfaz gráfica de una compleja web app para los profesionales de la medicina. Con listados y filtrados de médicos y de contenidos de interés, control de perfiles, newletters y mucho más.


        .o-layout.o-layout--middle.o-layout--large( class='u-margin-bottom-large u-margin-bottom-huge@tablet u-layout--reverse@tablet' )

          .o-layout__item(class='u-1/1')

            .c-project-extra-info.o-list-inline.u-text-center.u-margin-bottom-huge

              .c-project-link.o-list-inline__item
                a.u-margin-small.c-btn.c-btn--primary.c-btn--large( href='mailto:hola@franciscogodoy.es' ) Hablar con Francisco
