/* ==========================================================================
   #MAIN INFO
   ========================================================================== */

/**
 * This is an example component. Extend inuitcss by building your own components
 * that make up your UI. Component classes are prefixed with a `c-`.
 */

.c-project-card {
    display: block;
    width: 100%;
    border: 1px solid $color-bg-secondary;
    color: $color-text;
    
    &:hover,
    &:focus,
    &:active {
      box-shadow: $global-shadow;
      transition: $global-transition;
    }
    
    .c-skills__item {
        @include inuit-font-size( 12px );
    }

}


    .c-project-card__inner {
      display: flex;
      flex-direction: column;
      height: 100%;
    }


        .c-project-card__footer {
            text-align: right;
            margin-top: auto;

            > * {
                padding-right: 5px;
                border-right: 1px solid $color-bg-secondary;
                margin-right: 5px;

                &:last-child {
                    border-right: none;
                }
            }

        }


        .c-project-card__client {

            > img {
                width: 100%;
                max-width: 100%;
                max-height: 100%;
            }
        }


        .c-project-card__title {
            // @include inuit-font-size( 15px );
            font-weight: 200;
        }


        .c-project-card__subtitle {
            @include inuit-font-size( 15px );
            font-weight: 400;
            text-transform: uppercase;
        }


        .c-project-card__description {
            @include inuit-font-size( 14px, 1.5 );
            font-weight: 200;
        }
