/* ==========================================================================
#SKILLS
========================================================================== */

.c-skills__item {
    @include inuit-font-size( 17px );
    
    &::after {
        content: '|';
        color: $color-bg;
        margin-right: 7px;
        margin-left: 7px;
    }
    
    &:last-child {
        
        &::after {
            content: none;
        }
    }
}
