/* ==========================================================================
#NAV LOGO
========================================================================== */

/**
* Nav logo component
*/

/**
* 1. Reduce line-height
*/

.c-nav-logo {
  font-weight: 400;
  line-height: $inuit-global-line-height / 2; /* [1] */
  padding: {
    right: 0.5em;
    left: 0.5em;
  }
  border: {
    right: 1px solid currentcolor;
    left: 1px solid currentcolor;
  }

  &:hover,
  &:focus {
    color: $color-primary;
  }

}
