/* ==========================================================================
#BUTTONS
========================================================================== */

/**
* Buttons component
*/

/**
* 1. Allow us to style box model properties.
* 2. Line different sized buttons up a little nicer.
* 3. Make buttons inherit font styles (often necessary when styling `input`s as
*    buttons).
* 4. Reset/normalize some styles.
* 5. Force all button-styled elements to appear clickable.
*/

.c-btn {
    display: inline-block; /* [1] */
    vertical-align: middle; /* [2] */
    font: inherit; /* [3] */
    font-family: $font-family-sans-serif;
    @include inuit-font-size( 14px );
    text-align: center; /* [4] */
    margin: 0; /* [4] */
    cursor: pointer; /* [5] */
    padding: ( $inuit-global-spacing-unit-small / 1.5 ) $inuit-global-spacing-unit;
    transition: $global-transition;
    border-radius: $global-radius;
    border-width: 0;

    
    /* Selected button
    ========================================================================== */
    &.is-selected {
        // color: white;
        background-color: orange;
    }

}





/* Style variants
========================================================================== */

.c-btn--primary {
    background-color: $color-bg;

    &,
    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #000;
    }

    &:hover,
    &:focus {
        background-color: ( $color-bg - 40 );
    }

}

.c-btn--primary-simple {
  color: $color-primary;
  font-weight: 400;

    &:hover,
    &:active,
    &:focus {
        text-decoration: none;
        color: #000;
    }

}





/* Size variants
========================================================================== */

.c-btn--small {
    @include inuit-font-size( 12px );
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit;
}

.c-btn--large {
    padding: $inuit-global-spacing-unit $inuit-global-spacing-unit-large;
}





/* Ghost buttons
========================================================================== */

/**
* Ghost buttons have see-through backgrounds and are bordered.
*/

$btn-ghost-border-width: 1px;

.c-btn--ghost {
    border: $btn-ghost-border-width solid currentColor;
    padding: ( ($inuit-global-spacing-unit-small / 1.5) - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);

    &,
    &:hover,
    &:active,
    &:focus {
        background: none;
    }

    &.c-btn--small {
        padding: ($inuit-global-spacing-unit-tiny - $btn-ghost-border-width) ($inuit-global-spacing-unit - $btn-ghost-border-width);
    }

    &.c-btn--large {
        padding: ($inuit-global-spacing-unit - $btn-ghost-border-width) ($inuit-global-spacing-unit-large - $btn-ghost-border-width);
    }

    &.c-btn--primary {
        color: #2f4054;

        &:hover,
        &:focus {
            color: #1d2733;
        }

    }

}





/* Inactive buttons
========================================================================== */
.c-btn--disabled {
    pointer-events: none;
}





/* Label buttons
========================================================================== */
.c-btn--label {
  > input {
    display: none;
  }
}
