/* ==========================================================================
#BUTTONS GROUP
========================================================================== */

/**
* Buttons group component
*/

/**
* 1. .
*/

.c-btns-group {

  > .c-btn {
    margin-bottom: .5rem;

    &:not(:last-child) {
      margin-right: 0.5rem;
    }

  }

}
