/* ==========================================================================
   #NAVBAR
   ========================================================================== */

 /**
  * Navbar layout system.
  *
  * Basic structural elements:
  *
  *   <div class="c-navbar">
  *     <div class="c-navbar__brand">
  *       <div class="c-navbar__item">
  *       </div>
  *     </div>
  *     <div class=".c-navbar__menu">
  *       <div class="c-navbar__left">
  *         <div class="c-navbar__item">
  *         </div>
  *       </div>
  *       <div class="c-navbar__right">
  *         <div class="c-navbar__item">
  *         </div>
  *       </div>
  *     </div>
  *   </div>
  *
  * All child elements are optional.
  *
  */

$c-nav-bar-min-height: 3.25rem;

.c-navbar {
    display: flex;
    align-items: stretch;
    min-height: $c-nav-bar-min-height;
    background-color: #fff;
    padding: $inuit-global-spacing-unit-tiny;
}

  .c-navbar__brand {
    flex-shrink: 0;
    display: flex;
    align-items: center;
  }

  .c-navbar__menu {
    flex-grow: 1;
    display: flex;
    align-items: center;
  }

    .c-navbar__left {
      display: flex;
      margin-right: auto;
    }

    .c-navbar__right {
      display: flex;
      margin-left: auto;
    }

  .c-navbar__item {
    flex-grow: 0;
    display: flex;
    align-items: center;
    padding: $inuit-global-spacing-unit-tiny $inuit-global-spacing-unit-small;
  }





/* Fixed variant
   ========================================================================== */
%c-navbar--fixed {
  position: fixed;
  right: 0;
  left: 0;  
  z-index: 30;
}
.c-navbar--fixed-top {
  @extend %c-navbar--fixed;
  top: 0;
}

.c-navbar--fixed-bottom {
  @extend %c-navbar--fixed;
  bottom: 0;
}





/* Body modifier for fixed variant
   ========================================================================== */
html,
body {
  &.has-navbar-fixed-top {
    padding-top: $c-nav-bar-min-height;
  }
}
