/* ==========================================================================
   #NAVBAR
   ========================================================================== */

.c-navbar {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    padding: $inuit-global-spacing-unit;
    background-color: #fff;
}
