extends partials/base

block content

  .c-page.o-wrapper

    article
      section
        h2.c-project-main-text.o-content-small.u-margin-top-huge.u-margin-bottom-huge.u-h3
          | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation nisi ut aliquip ex ea commodo consequat.
      section
        .o-layout
          .o-layout__item(class='u-1/1')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet u-padding-huge@desktop')
              img(src='images/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
        .o-layout.o-layout--middle
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet')
              img(src='images/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            .o-box
              p.u-h4
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
        .o-layout
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet')
              img(src='images/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
          .o-layout__item(class='u-1/1 u-1/2@tablet')
            figure.c-project-image.has-shadow.u-padding(class='u-padding-large@tablet')
              img(src='images/portfolio/racc-min.png' alt='')
              figcaption.c-project-image__caption
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.
    a(href='/') VOLVER
