mixin article( link, clientImg, clientAlt, clientWidth, clientHeight, title, descriptionStrong, descriptionContent, tags, agency, data )
  .o-layout__item.u-margin-bottom( class="u-1/1 u-1/2@tablet u-1/3@desktop" )
    a.c-project-card( class="u-padding-small@mobile u-padding@tablet" href=link )
      article.c-project-card__inner
        header.c-project-card__header.u-margin-bottom-tiny
          .c-project-card__client.u-margin-bottom
            img( src=clientImg alt=clientAlt )
          h2.c-project-card__title.u-h2.u-margin-bottom-tiny= descriptionStrong
          h1.c-project-card__subtitle.u-margin-bottom-none= title

        main.c-project-card__main.u-padding-bottom
          p.c-project-card__description.u-margin-bottom-tiny= descriptionContent

          ul.o-list-inline.c-project-tags.u-margin-bottom-none

            each val in tags
              li.o-list-inline__item.c-skills__item= val
        
        footer.c-project-card__footer
          small.c-project-agency= agency
          small
            time.c-project-date= data
+article(
  '/proyecto-vldb.html',
  '/assets/files/img/portfolio/vldb-card-img.jpg',
  'Vue Like Dislike Buttons',
  '100',
  '20',
  'Componente VueJs',
  'Vue Like Dislike Buttons',
  'Componente realizado con VueJs disponible en NPM para el uso libre por parte de desarrolladores en sus proyectos.',
  [ 'HTML', 'CSS', 'JavaScrip', 'VueJs' ],
  'Proyecto propio',
  '2019'
)

+article(
  '/proyecto-teruterubozu.html',
  '/assets/files/img/portfolio/teruterubozu-card-img.jpg',
  '',
  '100',
  '20',
  'Tema de WordPress de código libre',
  'Teruterubozu',
  'Precioso tema enfocado a la lectura y la fotografía con funciones especiales para las autoras y autores de entradas.',
  [ 'HTML', 'CSS', 'JavaScrip', 'PHP', 'WordPress' ],
  'Proyecto propio',
  '2018'
)

+article(
  '/proyecto-caixabank.html',
  '/assets/files/img/portfolio/caixabank-card-img.jpg',
  'CaixaBank',
  '100',
  '20',
  'Maquetación de interfaz de usuario',
  'CaixaBank',
  'Colaboración durante ocho meses con el estudio barcelonés Guindo Design para la maquetación de la interfaz de clientes de La Caixa.',
  [ 'HTML', 'CSS', 'SASS', 'JavaScript', 'jQuery', 'Grunt', 'Git', 'BEM' ],
  'Guindo Design',
  '2017-2018'  
)

+article(
  '/proyecto-wp-comment-policy-checkbox.html',
  '/assets/files/img/portfolio/wpcpc-card-img.jpg',
  '',
  '',
  '',
  'Desarrollo de plugin para WordPress',
  'WP Comment Policy Checkbox',
  'La necesidad de un cliente me llevó a desarrollar este plugin que alcanzó 2.000+ instalaciones activas a los 3 meses de su distribución.',
  [ 'HTML', 'CSS', 'PHP', 'WordPress' ],
  'Proyecto propio',
  '2018'
)

+article(
  '/proyecto-wpaucf.html',
  '/assets/files/img/portfolio/wpaucf-card-img.jpg',
  '',
  '100',
  '20',
  'Plugin de WordPress para desarrolladores de temas',
  'WP Add User Contact Fields',
  'Plugin que ayuda a las desarrolladoras/es de temas a utilizar buenas prácticas en su código: permite que no se pierda información al cambiar de tema.',
  [ 'PHP', 'WordPress' ],
  'Proyecto propio',
  '2018'
  )

+article(
  '/proyecto-adan-advocats.html',
  '/assets/files/img/portfolio/adanadvocats-card-img.jpg',
  'Adan Advocats',
  '',
  '',
  'De Joomla a WordPress sin perder posicinamiento',
  'Adan Advocats. Despacho de abogados',
  'Migración de una web antigua con buen posicinamiento a una web moderna con WordPress. ¡E incluso mejorando en los resultados de Google!',
  [ 'HTML', 'CSS', 'SEO', 'WordPress' ],
  'Cliente final',
  '2017'
)

+article(
  '/proyecto-racc.html',
  '/assets/files/img/portfolio/racc-card-img.jpg',
  '',
  '',
  '',
  'Maquetación de interfaz de usuario',
  'RACC',
  'Colaboración con la agencia barcelonesa Twentic para la maquetación de la interfaz de usuario del área privada de la nueva web del Real Automóvil Club de Cataluña',
  [ 'HTML', 'CSS', 'SASS', 'Javascript', 'jQuery', 'PHP', 'Gulp', 'Git' ],
  'Twentic',
  '2016'  
)

+article(
  '/proyecto-acasoc.html',
  '/assets/files/img/portfolio/acasoc-card-img.jpg',
  '',
  '',
  '',
  'Puesta a punto de WordPress desactualizado',
  'Acasoc',
  'Optimización SEO básica y de plantilla para una web que se estaba quedando estancada. Actualizaciones de WordPress y sus plugins. Configuración de un blog e introducción y maquetación de nuevo contenido.',
  [ 'HTML', 'CSS', 'SEO', 'PHP', 'WordPress' ],
  'Cliente final',
  '2017'  
)

+article(
  '/proyecto-inuit-columns.html',
  '/assets/files/img/portfolio/inuitcolumns-card-img.jpg',
  '',
  '100',
  '20',
  'Aprovechando SASS',
  'inuit-columns',
  'Plugin que añade una serie de utilidades para usar columnas al framework InuitCss.',
  [ 'HTML', 'CSS', 'SASS', 'Javascript', 'jQuery', 'Git', 'BEM' ],
  'Proyecto propio',
  '2016'
)

+article(
  '/proyecto-iconecta.html',
  '/assets/files/img/portfolio/iconecta-card-img.jpg',
  '',
  '100',
  '20',
  'Web app para los profesionales de la medicina',
  'iConecta',
  'Desarrollo del frontend desde el boceto de la web app iConecta para AstraZeneca: aplicación para la gestión de mailing para los profesionales de la medicina.',
  [ 'HTML', 'CSS', 'SASS', 'JavaScript', 'AngularJS' ],
  'Adesis NetLife',
  '2014'
)
