doctype html
html
  head
    base(href="./assets/")
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')

    block title

    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')

    link(href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400,700,900' rel='stylesheet')
    link(rel='stylesheet', href='css/style.css')

  body
        
    .c-container
    
      //- include nav
    
      block content

    script(src='js/script.js')
