mixin c-badget-included(imgUrl, mainText, secondaryText)
  li.c-badget-included__item.o-list-bare__item.u-margin-bottom
    div.o-media.o-media--small
      div.o-media__img
        img.c-badget-included__img(src=imgUrl)
      div.o-media__body
        strong.c-badget-included__maintext= mainText
        br
        p.c-badget-included__secondarytext= secondaryText

ul.c-badget-included.o-list-bare

  h3.u-margin-top-large Diseño

  +c-badget-included(
    '/assets/files/img/icons/cellphone-android.svg',
    'Diseño responsive',
    'Especialmente pensado para móviles; y también para tablets y ordenadores, claro. ¡Indispensable!'
  )

  +c-badget-included(
    '/assets/files/img/icons/palette-swatch.svg',
    'Diseño personal',
    'Diseño único pensado para vuestra empresa. El diseño estará adaptado a vuestra imagen corporativa.'
  )

  h3.u-margin-top-large Contenido

  +c-badget-included(
    '/assets/files/img/icons/wordpress.svg',
    'Gestor de contenido WordPress',
    'El mejor y más usado gestor de contenido. Podréis crear y editar el contenido de la web como si estuvieseis usando Microsoft Words.'
  )

  +c-badget-included(
    '/assets/files/img/icons/table-of-contents.svg',
    'Contenido listo para lanzar',
    'Vuestra web corporativa tendrá las páginas necesarias para ser lanzada a la web: inicio, dos apartados de servicios o productos, sobre nosotros, contacto y páginas legales.'
  )

  +c-badget-included(
    '/assets/files/img/icons/newspaper.svg',
    'Blog o apartado de noticias',
    'Crear contenido periódicamente en su blog atraerá tráfico a su web de forma continuada, y eso indicará a Google que es un sitio interesante e incidirá muy positivamente en su posicionamiento global.'
  )

  +c-badget-included(
    '/assets/files/img/icons/google-maps.svg',
    'Formulario de contacto y mapa',
    'En la página de contacto ofreceréis a vuestros clientes un formulario para que os contacten facilmente y un mapa interactivo de Google Maps para que os encuentren.'
  )

  +c-badget-included(
    '/assets/files/img/icons/facebook-box.svg',
    'Integración con redes sociales',
    'Vuestra web estará integrada con las redes sociales más usadas: Facebook, Twitter, LinkedIn, Google+, Instagram... El posicionamiento de vuestra web mejorará con creces al compartirse por las redes.'
  )

  h3.u-margin-top-large Optimización SEO

  +c-badget-included(
    '/assets/files/img/icons/google-analytics.svg',
    'Optimización SEO',
    'Parte importante del posicionamiento, consiste en cubrir los requisitos técnicos que los buscadores de Internet (Google, Yahoo, Bing...) solicitan para posicionar bien una web. Vuestra web los cumplirá.'
  )

  h3.u-margin-top-large Hosting y dominio

  +c-badget-included(
    '/assets/files/img/icons/server-network.svg',
    'Gestión de hosting',
    'El hosting o servidor cumple un papel principal en la velocidad de carga, lo que, a su vez, es importantísimo para Google y el posicionamiento que le otarga a la web.'
  )

  +c-badget-included(
    '/assets/files/img/icons/dns-outline.svg',
    'Gestión de dominio',
    'Gestiono tu dominio para quitarte los dolores de cabeza que este tipo de cosas puede generar: DNS, registradores, redirecciones...'
  )

  h3.u-margin-top-large Servicios post-venta

  +c-badget-included(
    '/assets/files/img/icons/lifebuoy.svg',
    'Asesoramiento y soporte',
    'Asesoramiento y soporte incluido durante un mes para resolver vuestras dudas con vuestra web. Os resolveré cualquier duda que tengáis con respecto a vuestra web y os ayudaré a mejorar cualquier aspecto de ésta.'
  )
