mixin c-badget-extras(name, value, mainText)
    label.o-radio__label.c-btn.c-btn--primary.c-btn--label
      input.o-radio__input.js-badget-extras(type='radio' name=name data-value=value)
      = mainText

div.o-radio.c-btns-group

  +c-badget-extras(
    'badget-extras',
    '0',
    'No'
  )

  +c-badget-extras(
    'badget-extras',
    '300',
    'Sí (300€)'
  )
