mixin c-badget-pages(value, mainText)
  label.o-radio__label.c-btn.c-btn--primary.c-btn--label
    input.o-radio__input.js-badget-pages(type='radio' name='badget-pages' data-value=value)
    = mainText

div.o-radio.c-btns-group

  +c-badget-pages(
    '0',
    '3'
  )

  +c-badget-pages(
    '30',
    '4'
  )

  +c-badget-pages(
    '60',
    '5'
  )

  +c-badget-pages(
    '90',
    '6'
  )
