mixin c-badget-base(imgUrl, mainText, secondaryText)
  div.o-layout__item.u-margin-bottom-large(class="u-1/1 u-1/2@tablet")
    div.c-badget-base__item.o-block
      div.o-block__img
        img.c-badget-base__img(src=imgUrl)
      div.o-block__body
          strong.c-badget-base__maintext= mainText
          br
          small.c-badget-base__secondarytext= secondaryText

div.c-badget-base.o-layout

  +c-badget-base(
    '/assets/files/img/icons/checkbox-marked-circle-outline.svg',
    'Gestor de contenido WordPress',
    'El mejor y más usado gestor de contenido.'
  )
  +c-badget-base(
    '/assets/files/img/icons/checkbox-marked-circle-outline.svg',
    'Optimización SEO',
    'Parte importante del posicionamiento, consiste en cubrir los requisitos técnicos que los buscadores de Internet (Google, Yahoo, Bing...) solicitan para posicionar bien una web.'
  )
  +c-badget-base(
    '/assets/files/img/icons/checkbox-marked-circle-outline.svg',
    'Diseño responsive',
    'Especialmente pensado para que se pueda usar bien tanto en móviles como en tablet o ordenadores; indispensable desde hace años.'
  )
  +c-badget-base(
    '/assets/files/img/icons/checkbox-marked-circle-outline.svg',
    'Posibilidad de ditar los textos',
    'Podréis editar los textos, imágenes o vídeos de vuestras páginas cuando queráis y de forma fácil, como si estuviéseis usando Microsoft Word.'
  )
  +c-badget-base(
    '/assets/files/img/icons/checkbox-marked-circle-outline.svg',
    'Gestión o migración de servidor y gestión de dominio',
    'Elejo por ti el mejor servidor para tus necesidades y, si hace falta, migro la web desde tu actual servidor, gestiondo todo lo relativo a tu dominio.'
  )
