footer.c-page-footer.o-wrapper

  hr

  .o-list-inline.u-text-center.u-margin-top-huge.u-margin-bottom-huge

    h6.c-footer-sign Francisco J. Godoy
      br
      small Desarrollador front-end y WordPress

    .c-project-link.o-list-inline__item
      a.u-margin-small.c-btn( target='_blank' href="https://www.linkedin.com/in/franciscogodoyonieva/") Linkedin
      a.u-margin-small.c-btn( href='mailto:hola@franciscogodoy.es' ) Correo
      a.u-margin-small.c-btn( href='https://github.com/fcojgodoy' ) GitHub
      a.u-margin-small.c-btn( href='https://gitlab.com/fcojgodoy' ) GitLab
