footer.c-page-footer.o-wrapper

  hr

  .o-list-inline.u-text-center.u-margin-top-huge.u-margin-bottom-huge

    h6 Francisco J. Godoy
      br
      small Desarrollador front-end

    .c-project-link.o-list-inline__item
      a.u-margin-small.c-btn( target='_blank' href="https://linkedin.es/") Linkedin
      a.u-margin-small.c-btn( href='mailto:hola@franciscogodoy.es' ) Correo
      a.u-margin-small.c-btn( href='mailto:hola@franciscogodoy.es' ) GitHub
