nav.c-navbar.c-navbar--fixed-top

  .c-navbar__menu

    .c-navbar__right
      .c-navbar__item
        include components/nav/nav-see-code-button
      .c-navbar__item
        include components/nav/nav-contact-button
