nav.c-navbar.c-navbar--fixed-bottom(style="background-color:#cff3fb")

  .c-navbar__menu

    .c-navbar__left
      .c-navbar__item
        div
          small
            del 520€
          br
          strong.u-h3 395€

    .c-navbar__right
      .c-navbar__item
        span.u-h4.u-text-center OFERTA POR TIEMPO LIMITADO
          //- a.c-btn.c-btn--primary.c-btn--small(href='mailto:hola@franciscogodoy.es' title='Contactar por email') Contactar
