nav.c-navbar.c-navbar--fixed-top

  .c-navbar__menu

    .c-navbar__left
      .c-navbar__item
        include components/nav/nav-logo

    .c-navbar__right
      .c-navbar__item
        include components/nav/nav-contact-button
