mixin service( link, text )
  a.c-btn.c-btn--primary-simple(class!=attributes.class href=link title='Ver más información')= text

+service(
  '#',
  'Desarrollo frontend'
)(class='c-btn--disabled')

+service(
  '#',
  'Desarrollo WordPress'
)(class='c-btn--disabled')

+service(
  '/presupuesto-wordpress-empresa.html',
  'Web corporativa'
  )

+service(
  '#',
  'Ecommerce'
)(class='c-btn--disabled')

+service(
  '#',
  'PSD a HTML/WordPress'
)(class='c-btn--disabled')

+service(
  '#',
  'Soporte y mantenimiento'
)(class='c-btn--disabled')
