.c-sidebar-badget(style="background-color:#cff3fb")

  div.o-box
    div
      del 520
        small €
      br
      strong.u-h3 395
        small €

    div
      br
      span.u-h4.u-text-center OFERTA POR TIEMPO LIMITADO
      br
      br
      include components/nav/nav-contact-button--small
